@font-face {
  font-family: "Kors Sans Book";
  font-display: swap;
  src: url("../fonts/Kors_Sans-Book.woff2");
}

@font-face {
  font-family: "Kors Sans Light";
  font-display: swap;
  src: url("../fonts/Kors_Sans-Light.woff2");
}

@font-face {
  font-family: "Kors Sans Medium";
  font-display: swap;
  src: url("../fonts/Kors_Sans-Medium.woff2");
}

@font-face {
  font-family: MK-IconFont;
  src: url("../fonts/MK-IconFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
